body{
  line-height:1.6;
  font-family:-apple-system-font, "Helvetica Neue", sans-serif;
  background-color: #f0eff5;
}
*{
<<<<<<< HEAD
    margin: 0;
    padding: 0;
}
=======
  margin:0;
  padding:0;
<<<<<<< HEAD
}
html{font-size: 62.5%;}/*1rem=10px*/
>>>>>>> 1c6e21ac66ec193a5ef6b721aaaf1faa29ec02c7
body{
  line-height:1.6;
  font-family:-apple-system-font, "Helvetica Neue", sans-serif;
  background-color: #f0eff5;
}
<<<<<<< HEAD

=======
a img{
  border:0;
}
a{
  text-decoration:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
=======
>>>>>>> 8a1934cd5d3711067d1ca58cebda0fbdd4498f89
}
>>>>>>> 1c6e21ac66ec193a5ef6b721aaaf1faa29ec02c7
