body{
  line-height:1.6;
  font-family:-apple-system-font, "Helvetica Neue", sans-serif;
  background-color: #f0eff5;
}
*{
    margin: 0;
    padding: 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> a73162756c3e1296fadf7686af82928132f36931
